@font-face {
  font-family: "iconfont"; /* Project id 2541252 */
  src: url('//at.alicdn.com/t/font_2541252_kuweatq83e9.woff2?t=1621506872474') format('woff2'),
       url('//at.alicdn.com/t/font_2541252_kuweatq83e9.woff?t=1621506872474') format('woff'),
       url('//at.alicdn.com/t/font_2541252_kuweatq83e9.ttf?t=1621506872474') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e61a";
}

.icon-iconfonti:before {
  content: "\e62b";
}

.icon-shanchu:before {
  content: "\e630";
}

.icon-sousou:before {
  content: "\e63a";
}

.icon-sousuo:before {
  content: "\e60f";
}

.icon-huo:before {
  content: "\e65b";
}

.icon-shanchu1:before {
  content: "\e63c";
}

