@font-face {
  font-family: "iconfont"; /* Project id 2549987 */
  src: url('https://at.alicdn.com/t/font_2549987_jt35a4c1ts.woff2?t=1621488118722') format('woff2'),
       url('https://at.alicdn.com/t/font_2549987_jt35a4c1ts.woff?t=1621488118722') format('woff'),
       url('https://at.alicdn.com/t/font_2549987_jt35a4c1ts.ttf?t=1621488118722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconset0138:before {
  content: "\e625";
}

.icon-fabu:before {
  content: "\e60f";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-yixianshi-:before {
  content: "\e612";
}

.icon-bofang:before {
  content: "\e60a";
}

.icon-qianjin:before {
  content: "\e693";
}

.icon-houtui:before {
  content: "\e694";
}

.icon-backward:before {
  content: "\e662";
}

.icon-forward:before {
  content: "\e665";
}

.icon-ku:before {
  content: "\e617";
}

.icon-jurassic_loseeyes:before {
  content: "\e69d";
}

.icon-jurassic_openeyes:before {
  content: "\e6a0";
}
