@font-face {
  font-family: "iconfont"; /* Project id 2549987 */
  src: url('https://at.alicdn.com/t/font_2549987_5u014vrqwcg.woff2?t=1621057047099') format('woff2'),
       url('https://at.alicdn.com/t/font_2549987_5u014vrqwcg.woff?t=1621057047099') format('woff'),
       url('https://at.alicdn.com/t/font_2549987_5u014vrqwcg.ttf?t=1621057047099') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jurassic_loseeyes:before {
  content: "\e69d";
}

.icon-jurassic_openeyes:before {
  content: "\e6a0";
}

